*

!backend/src
!backend/build.gradle.kts
!backend/settings.gradle.kts

!frontend/package.json
!frontend/yarn.lock
!frontend/src
!frontend/public
!frontend/codegen.yml
!frontend/craco.config.js
!frontend/vite.config.ts
!frontend/tsconfig.json
!frontend/tsconfig.node.json
!frontend/.prettierrc.yaml
!frontend/.eslintrc.json
!frontend/.prettierignore

!.editorconfig
